.App {
  font-family: sans-serif;
  text-align: center;
}

.background-fade {
  opacity: 0;
  animation: backgroundFade 2s ease forwards;
}

.content-fade {
  opacity: 0;
  transform: translateY(10px);
  animation: contentFade 2s ease forwards;
  animation-delay: 1s;
}

@keyframes backgroundFade {
  to {
    opacity: 1;
  }
}

@keyframes contentFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
